<div class="big__card__container">
  <a href="#">
    <div class="big__card__image">
      <img
        src="https://t4.ftcdn.net/jpg/05/17/53/57/360_F_517535712_q7f9QC9X6TQxWi6xYZZbMmw5cnLMr279.jpg"
        alt="image"
        srcset=""
      />
      <sup>Fonte: https://t4.ftcdn.net</sup>
    </div>
    <div class="big__card__title">
      <h1>Lorem ipsum dolor sit amet</h1>
    </div>
    <div class="big__card__description">
      <p>
        Sed imperdiet ex purus, at pharetra purus eleifend vel. Nunc vestibulum
        eleifend dui, mattis vulputate ex mattis ac. In rutrum porta maximus.
      </p>
    </div>
  </a>
</div>
