.content__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  height: 100vh;
}

.content__cover {
  display: flex;
  flex-direction: column;
}

.content__cover > img {
  border: 5px solid grey;
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__title {
  margin-top: 24px;
}

.link__go__back {
  font-weight: bold;
  margin-top: 16px;
}

.content__description {
  margin-top: 16px;
}

.content__description > p {
  color: grey;
}
