<header>
  <app-menu-bar />
</header>
<app-menu-title />
<div class="articles__container">
  <div class="article__main">
    <app-big-card
      imageCover="https://img.freepik.com/vetores-gratis/paisagem-noturna-do-oceano-lua-cheia-e-estrelas-brilham_107791-7397.jpg?t=st=1743643434~exp=1743647034~hmac=012bc5e5665d27e5f0a62570981f51220961f4597badcf079d5bec2afaeafbc8&w=1380"
      imageSource="https://img.freepik.com"
      imageAlt="imagem"
      cardTitle="Título do artigo"
      cardDescription="Descrição do artigo."
    />
  </div>
  <div class="articles__list">
    <app-small-card
    imageCover="https://t3.ftcdn.net/jpg/05/85/86/44/360_F_585864419_kgIYUcDQ0yiLOCo1aRjeu7kRxndcoitz.jpg"
    imageSource="https://t3.ftcdn.net"
    imageAlt="imagem"
    cardTitle="Título do artigo"
    />
    <app-small-card
    imageCover="https://static.vecteezy.com/system/resources/thumbnails/052/248/075/small_2x/peacock-feather-wallpaper-hd-wallpaper-photo.jpeg"
    imageSource="vecteezy"
    imageAlt="imagem"
    cardTitle="Título do artigo"
    />
    <app-small-card
    imageCover="https://img.freepik.com/premium-photo/wallpaper-with-dark-dramatic-gradient-colors-ai-generated_88211-6704.jpg"
    imageSource="freepik"
    imageAlt="imagem"
    cardTitle="Título do artigo"
    />
  </div>
</div>
