<app-menu-title />
<div class="articles__container">
  <div class="article__main">
    <app-big-card
      id="{{ mainArticle.id }}"
      imageCover="{{ mainArticle.image }}"
      imageSource="{{ mainArticle.imageSource }}"
      imageAlt="imagem"
      cardTitle="{{ mainArticle.title }}"
      cardDescription="{{ mainArticle.description }}"
    />
  </div>
  <div class="articles__list">
    <app-small-card
    *ngFor="let art of articles"
    id="{{ art.id }}"
    imageCover="{{ art.image }}"
    imageSource="{{ art.imageSource }}"
    imageAlt="imagem"
    cardTitle="{{ art.title }}"
    />
  </div>
</div>
