<header>
  <app-menu-bar />
</header>
<app-menu-title />
<div class="articles__container">
  <article class="article__main">
    <app-big-card
      imageCover="https://img.freepik.com/vetores-gratis/paisagem-noturna-do-oceano-lua-cheia-e-estrelas-brilham_107791-7397.jpg?t=st=1743643434~exp=1743647034~hmac=012bc5e5665d27e5f0a62570981f51220961f4597badcf079d5bec2afaeafbc8&w=1380"
      imageSource="https://img.freepik.com"
      imageAlt="imagem"
      cardTitle="Título do artigo"
      cardDescription="Descrição do artigo."
    />
  </article>
  <article class="articles__list">
    <app-small-card />
    <app-small-card />
    <app-small-card />
  </article>
</div>
